<div class="table-container" ng-controller="TeacherCtrl">
    <div class="section-title center">
        <h2>Public <strong>teachers</strong></h2>
        <div class="line">
            <hr>
        </div>
    </div>
    <div id="teachers-carousels" class="owl-carousel owl-theme row">
        <div class="item" ng-repeat="teacher in teachers" on-last-repeat>
            <div class="thumbnail">
                <img ng-click="showTeacher(teacher.Id)" alt="..." src="{{teacher.ImagePath}}" ng-if="!!teacher.ImagePath" class="img-circle team-img">
                <img ng-click="showTeacher(teacher.Id)" alt="..." src="/images/unknown.jpg" ng-if="!teacher.ImagePath" class="img-circle team-img">
                <div class="caption">
                    <h3>{{teacher.FirstName}} {{teacher.LastName}}</h3>
                    <p>{{teacher.Title}}</p>
                    <p>Email: {{teacher.Email}} <br />Phone: {{teacher.Phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
