<div class="row">
    <div class="col-lg-2 details-img">
        <img ng-src="{{teacher.ImagePath}}" width="150px" height="150px" ng-if="teacher.ImagePath" />
        <img src="/images/unknown.jpg" width="150px" height="150px" ng-if="!teacher.ImagePath" />
    </div>
    <div class="col-lg-8">
        <h1>{{teacher.Title}} {{teacher.FirstName}} {{teacher.LastName}}</h1>
        <h2>Phone : {{teacher.Phone}}</h2>
        <h2>Email : {{teacher.Email}}</h2>
    </div>
    <div class="col-lg-1">
        <button class="btn btn-primary" ng-click="subscribe(teacher.Id)">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Subscribe</button>
    </div>
</div>
<div id="calendar"></div>