<div class="table-containerl">
    <h1>{{teacher.Title}} {{teacher.FirstName}} {{teacher.LastName}}</h1>
    <h2>Phone : {{teacher.Phone}}</h2>
    <h2>Email : {{teacher.Email}}</h2>
</div>
<div id="calendar"></div>