<div class="table-container" ng-controller="TeacherCtrl">
    <h2>Teachers</h2>
    <br><br>
    <div class="teacher-container col-md-4" ng-repeat="teacher in teachers | filter: searchFunc ">
        <div class=" container-fluid well span6">
            <div class="row-fluid">
                <div class="span2">
                    <img width="80px" height="80px" src="{{teacher.ImagePath}}" ng-if="!!teacher.ImagePath" class="img-circle">
                    <img width="80px" height="80px" src="/images/unknown.jpg" ng-if="!teacher.ImagePath" class="img-circle">
                </div>

                <div class="span8">
                    <h3>{{teacher.FirstName}} {{teacher.LastName}}</h3>
                    <h6>Email: {{teacher.Email}}</h6>
                    <h6>Phone: {{teacher.Phone}}</h6>
                    <h6>Title: {{teacher.Title}}</h6>
                    <h6><a ng-click="showTeacher(teacher.Id)">More... </a></h6>
                </div>

                <div class="span2">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="showTeacher(teacher.Id)">
                            Schedule
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>