<div class="register-form">
    @using (Html.BeginForm("UploadExcel", "Excel", FormMethod.Post,
                                   new { enctype = "multipart/form-data" }))
    {
        <label for="file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Insert Excel Here
        </label>
        <input id="file" name="file" type="file" />
        <input type="hidden" name="teacherId" value="{{id}}" />
        <br />
        <input type="submit" value="Upload Excel" class="submit btn btn-primary" />
    }
</div>